.sidebar-section img{
    width: 10px;
    margin-bottom: 2em;
}
.header-image{
    width: 100px;
    
    
}
.mapoto{
    background-image: url("harv1.jpg") ;
}
h2{
    color: blue;
    text-align: center;
}
 .mapoto>img{
     padding-top: 3em;
    width: 400px;
    position: relative;
    left: 200px;
    top: 100px;
    border-radius: 200px;
}